body {
  background-color: #f8f9fa;
}

code[class*="language-"] {
  font-size: 0.8rem;
  padding: 0;
}

a:visited {
  color: #5755d9;
}

.lazy {
  transition: filter 0.35s ease 0s;
}

.lazy:not(.loaded) {
  filter: blur(5px);
}

.lazy-bg-loaded-flag {
  width: 0;
  height: 0;
}

.flex-rev {
  flex-direction: row-reverse;
}

.flex-1 {
  flex: 1;
}

.input-error {
  border-color: #e85600;
}

.ori-container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (min-width: 992px) {
  .ori-container {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .ori-container {
    width: 970px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ori-container {
    width: 750px;
  }
}

.ori-header {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  color: #5755d9;
  display: flex;
  z-index: 999;
  box-shadow: 0 0 20px #dfdfdf;
}

#main-content {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main-content main {
  justify-content: center;
}

#main-content main > * {
  margin-top: 1.5rem;
}

/* 首页滚动时交替颜色 */
.home .ori-header {
  box-shadow: none;
  background-color: transparent;
  color: #fff;
}

.home .ori-header .btn {
  color: #fff;
}

.home #ori-h-menu > .menu-item > a {
  color: #fff;
}

.home #ori-h-m-btn span {
  background-color: #fff;
}

.home #main-content {
  padding-top: 0;
}

.not-car .ori-header {
  box-shadow: 0 0 20px #dfdfdf;
  background-color: #fff;
  color: #5755d9;
}

.not-car .ori-header .btn {
  color: #5755d9;
}

.not-car #ori-h-menu > .menu-item > a {
  color: #5755d9;
}

.not-car #ori-h-m-btn span {
  background-color: #5755d9;
}

.not-car:not(.home) #main-content {
  padding-top: 4rem;
}
/* end */

#ori-logo,
#ori-title {
  position: absolute;
}

#ori-logo {
  display: flex;
}

#ori-title {
  font-size: 1.1rem;
}

body.home #ori-logo {
  display: none;
}

body:not(.home) #ori-title {
  display: none;
}

#ori-h-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

#ori-h-menu a:focus {
  box-shadow: none;
}

#ori-h-menu li {
  margin: 0;
  border-radius: 0.1rem;
}

#ori-h-menu li a {
  border-radius: 0.1rem;
  color: #5755d9;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: 0;
  padding: 0.25rem 0.8rem;
  text-align: center;
  text-decoration: none;
  transition: border 0.2s, box-shadow 0.2s, color 0.2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#ori-h-menu .sub-menu:hover,
#ori-h-menu a:hover + .sub-menu {
  visibility: visible;
  opacity: 1;
  top: 2.7rem;
}

#ori-h-menu .sub-menu {
  border-radius: 0.1rem;
  list-style: none;
  transition: all 0.35s;
  position: absolute;
  z-index: 1000;
  top: 3.5rem;
  opacity: 0;
  visibility: hidden;
  min-width: 15rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.067em 1.2em rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

#ori-h-menu .sub-menu li:not(:last-child) {
  border-bottom: 1px solid #f5f3f0;
}

#ori-h-menu .sub-menu li:hover a {
  color: #5755d9;
}

#ori-h-menu .sub-menu li a {
  font-size: 0.6rem;
  padding: 0.3rem 0;
  height: unset;
  color: #7d7d7d;
}

#ori-h-menu .sub-menu .sub-menu {
  margin-top: 0rem;
}

#ori-h-search i {
  font-size: 1rem;
  margin: 0 0.4rem;
}

#ori-h-m-btn {
  width: 1.2rem;
  height: 1rem;
  margin: 0 0.4rem;
  cursor: pointer;
  transform: rotate(0);
  transition: 0.5s ease-in-out;
  display: none;
}

#ori-h-m-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #5755d9;
  opacity: 1;
  left: 0;
  border-radius: 2px;
  transform: rotate(0);
  transition: 0.25s ease-in-out;
}

#ori-h-m-btn span:nth-child(1) {
  top: 0;
}

#ori-h-m-btn span:nth-child(2),
#ori-h-m-btn span:nth-child(3) {
  top: 8px;
}

#ori-h-m-btn span:nth-child(4) {
  top: 16px;
}

#ori-h-m-btn.active span:nth-child(1),
#ori-h-m-btn.active span:nth-child(4) {
  top: 10px;
  width: 0;
  left: 50%;
}

#ori-h-m-btn.active span:nth-child(2) {
  transform: rotate(45deg);
}

#ori-h-m-btn.active span:nth-child(3) {
  transform: rotate(-45deg);
}

/* Header search */
.ori-search {
  background-color: #fff;
  width: 100%;
  position: fixed;
  display: none;
  opacity: 0;
}

.ori-search .navbar-section {
  flex: 0;
}

.ori-search .navbar-center {
  flex: 1;
}

.ori-search .navbar-section div {
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
  text-align: center;
  color: #5755d9;
}

.ori-search .navbar-center input {
  background: #b6dfe980;
  padding: 1.2rem 0.8rem;
  outline: 0px;
  border: 0;
  font-size: 1rem;
}

.ori-search-mask {
  position: fixed;
  width: 100%;
  height: calc(100% - 4rem);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}

#search-list {
  overflow-y: auto;
}

/* end */

/* ori-h-menu-active */
.ori-header.menu-active {
  right: 30%;
}
/* end */

.home .carousel {
  height: 100vh;
}

.carousel .img-responsive {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-content {
  position: absolute;
  top: 50%;
  z-index: 101;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.carousel-content h1 {
  font-size: 2.2rem;
}

.carousel-content h2 {
  font-size: 1.1rem;
}

.carousel-content a {
  margin-top: 0.2rem;
  color: #fff;
  border: 0.05rem solid #fff;
  border-radius: 0.1rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: 0;
  padding: 0.25rem 0.4rem;
  display: inline-block;
  text-decoration: none;
}

.carousel .carousel-nav {
  z-index: 101;
}

.carousel .carousel-item label {
  z-index: 101;
}

.carousel-mask {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

.not-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0.8rem 0rem 0.8rem;
}

.not-carousel h1 {
  font-size: 1.7rem;
}

.not-carousel h2 {
  font-size: 1rem;
}

.featured {
  height: 17rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.featured-container {
  width: 27rem;
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured-container h1,
.featured-container h2 {
  color: #fff;
}

.featured-container h2 {
  margin: 0;
  font-size: 1.3rem;
}

.ori-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ori-footer .columns > div:first-child {
  flex: 1;
}

.ori-copyright {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.3rem;
  font-size: 0.7rem;
  color: #999;
}

.ori-copyright a {
  color: #6b6b6b;
}

#scroll-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10000;
  opacity: 0;
}

.card {
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.2);
}

.post-info .card-title {
  margin-bottom: 0.2em;
}

.post-info .card-title a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #3b4351;
}

.post-info .card-title a:hover {
  color: #5755d9;
}

.post-info .card-subtitle {
  font-size: 0.7rem;
}

.post-info .card-subtitle time,
.post-info .card-subtitle ul,
.post-info .card-subtitle span {
  margin-right: 0.2rem;
}

.post-info .card-subtitle span,
.post-info .card-subtitle ul {
  margin-left: 0.2rem;
}

.post-info .card-subtitle ul,
.post-info .card-subtitle li {
  display: inline;
  margin: 0 unset;
  list-style: none;
}

.post-info .card-subtitle li:not(:last-child):after {
  content: " , ";
}

.post-info .card-subtitle li a {
  color: #bcc3ce;
  font-size: 0.7rem;
}

.post-list article {
  margin-bottom: 1rem;
}

.post-list .card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 14rem;
  transition: all 0.5s;
}

.post-list .card-image:hover {
  background-size: 105%;
}

.post-list .card-body {
  font-size: 0.75rem;
  color: #3b4351;
}

.post-list .card-footer {
  display: flex;
  align-items: center;
}

.post-list .card-footer .post-tags {
  flex: 1;
}

.post-list .read-more {
  font-size: 0.75rem;
  color: #3b4351;
  text-decoration: none;
  border: 1.5px solid #87d1df;
  padding: 0.3rem 1rem;
  background: #fff;
  cursor: pointer;
}

.post-tags a {
  font-size: 0.65rem;
  color: #3b4351;
  background-color: #fff;
  border: 1.5px solid #87d1df;
  text-decoration: none;
  padding: 0.2rem 0.6rem;
  margin-right: 0.2rem;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.post-tags a:hover {
  background-color: #b6dfe9;
  border: 1.5px solid #b6dfe9;
  color: #f5f5f5;
}

.pagination {
  align-items: center;
}

.pagination .page-item span.current {
  background: #5755d9;
  color: #fff;
  border-radius: 0.1rem;
  display: inline-block;
  padding: 0.2rem 0.4rem;
}

.post-pagination {
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.2);
}

.avatar.avatar-xxl {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.2);
}

.about-card-image {
  height: 6rem;
  width: 100%;
}

.about-card-avatar {
  margin-top: -2rem;
}

.about-card-content {
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem 1.5rem 1.5rem;
  word-wrap: break-word;
  width: 100%;
}

.sidebar-widget {
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  font-size: 0.7rem;
}

.sidebar-widget #searchform label {
  display: none;
}

.sidebar-widget h3 {
  font-size: 0.9rem;
}

.sidebar-widget h3:after {
  height: 0.12rem;
  width: 2.5rem;
  background-color: #5755d9;
  content: "";
  display: block;
  margin-top: 0.5rem;
}

.sidebar-widget ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.sidebar-widget li {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #f5f3f0;
}

.sidebar-widget a {
  color: #7d7d7d;
  text-decoration: none;
}

.sidebar-widget a:hover {
  color: #302ecd;
}

.sidebar-widget.widget_recent_entries a {
  display: block;
}

.sidebar-widget.widget_recent_entries .post-date {
  line-height: 1.2rem;
  color: #bcc3ce;
  font-size: 80%;
  font-weight: 400;
}

.sidebar-widget .tagcloud {
  display: flex;
  flex-wrap: wrap;
}

.sidebar-widget .tagcloud a {
  border: 1px solid #dfdfdf;
  font-size: 0.65rem !important;
  padding: 0.2rem 0.5rem;
  margin-top: 0.4rem;
  margin-right: 0.5rem;
  display: inline-block;
}

.p-post-thumb,
.s-post-thumb {
  height: 17rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-post-info,
.s-post-info {
  text-align: center;
}

.comments-container a,
.p-post-content a,
.s-post-content a {
  text-decoration: none;
  position: relative;
}

.comments-container a:after,
.p-post-content a:after,
.s-post-content a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5755d9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.comments-container a:hover:after,
.p-post-content a:hover:after,
.s-post-content a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.p-post-content,
.s-post-content {
  font-size: 0.7rem;
  font-weight: 400;
  color: #757575;
}

.s-post-content h1,
.s-post-content h1 {
  font-size: 1.6rem;
}

.p-post-content h2,
.s-post-content h2 {
  font-size: 1.4rem;
}

.p-post-content h3,
.s-post-content h3 {
  font-size: 1.2rem;
}

.p-post-content h4,
.s-post-content h4 {
  font-size: 1rem;
}

.p-post-content h5,
.s-post-content h5 {
  font-size: 0.8rem;
}

.p-post-content h6,
.s-post-content h6 {
  font-size: 0.6rem;
}

.p-post-content code,
.s-post-content code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.p-post-content img,
.s-post-content img {
  height: auto;
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
}

.p-post-tags,
.s-post-tags {
  margin-top: 1.5rem;
}

.p-post-nav,
.s-post-nav {
  margin-top: 1.5rem;
}

.p-post-comments,
.s-post-comments {
  margin-top: 1.5rem;
}

.comment-item {
  display: flex;
  font-size: 0.7rem;
  border-bottom: 0.5px solid #dfdfdf;
  padding: 0.5rem 0;
}

.comment-avatar {
  height: 3.2rem;
  width: 3.2rem;
  box-shadow: 0 0 0.3rem 0.05rem rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.comment-lv1 .comment-avatar {
  height: 3.8rem;
  width: 3.8rem;
}

.comment-content {
  margin-left: 1rem;
  flex: 1;
}

.comment-author {
  font-size: 0.8rem;
}

.comment-header {
  display: flex;
  align-items: center;
}

.comment-header > div {
  display: inline-block;
}

.comment-mark {
  display: inline-block;
  margin-left: 0.25rem;
  border-radius: 0.1rem;
  padding: 0.15rem 0.3rem;
  font-size: 0.6rem;
  font-weight: 400;
  background-color: #cbbbba;
  box-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.15);
}

.comment-body {
  margin-top: 0.25rem;
}

.comment-footer {
  margin-top: 0.25rem;
  display: flex;
}

.comment-btn {
  visibility: hidden;
  opacity: 0;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s;
  margin-right: 1rem;
}

.comment-item:hover .comment-btn {
  visibility: visible;
  opacity: 1;
}

.comment-btn a {
  cursor: pointer;
}

.comment-btn span {
  margin-left: 0.5rem;
}

.comment-children {
  margin-left: 3rem;
}

.comments-container i {
  padding-right: 0.2rem;
}

.comment-mark a {
  color: #fff;
}

#comments-list {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

#comments-loading {
  height: 4rem;
  min-height: 0;
  overflow: hidden;
  transition: height 0.5s;
  text-align: center;
}

#comments-loading span {
  display: inline-block;
  margin-top: 0.4rem;
}

.comments-nav {
  display: none;
  align-items: center;
}

.comments-nav label {
  font-weight: bold;
}

.comments-nav select {
  width: 30%;
}

.comments-nav .pagination {
  margin: 0;
  padding: 0;
}

#comments-next,
#comments-prev {
  cursor: pointer;
}

.comments-count {
  font-size: 0.9rem;
  text-align: right;
  border-bottom: 0.5px solid #dfdfdf;
  padding-bottom: 0.3rem;
  margin-bottom: 0.7rem;
}

.response-header,
.response-body,
.response-footer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.response-title {
  flex: 1;
  font-size: 1.2rem;
}

.response-user {
  margin-right: 4rem;
}

#close-response {
  visibility: hidden;
}

.response-avatar {
  height: 3.8rem;
  width: 3.8rem;
  box-shadow: 0 0 0.3rem 0.05rem rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

#response-text {
  height: 3.8rem;
  flex: 1;
  margin-left: 0.5rem;
}

.response-footer {
  margin-left: 4.3rem;
  justify-content: flex-end;
}

.response-input-item {
  flex: 1;
  margin-right: 0.5rem;
  max-width: 50%;
}

.response-input-item:last-child {
  margin-right: 0;
}

.response-input-item input {
  margin-bottom: 0.5rem;
}

.response-loading {
  opacity: 0;
  transition: opacity 0.5s;
}

.not-approved {
  text-align: right;
  flex: 1;
  font-size: 0.8rem;
  margin-right: 2rem;
  color: #ffb700;
}

.countdown {
  text-align: right;
  flex: 1;
  font-size: 0.8rem;
  margin-right: 2rem;
  color: #32b643;
}

.OwO {
  margin-top: 2.4rem;
  margin-left: 4.3rem;
  position: absolute !important;
  width: 30rem;
  max-width: 100%;
}

.OwO ul li {
  margin-top: 0;
}

/* 文末版权 */
#content-copyright {
  color: #4d99d2;
  background: #dbe7f8;
  border: 0.05rem solid #b7d2f2;
  overflow: hidden;
  margin: 0.5rem 0;
  padding: 0.25rem;
  font-weight: bold;
  text-shadow: 0 0.05rem 0 #ddd;
  font-size: 0.5rem;
}
#content-copyright p {
  font-size: 0.75rem;
}

/* 短代码 */
.message-box {
  margin: 15px 0;
  padding: 1em 1em;
}
.message-box p {
  margin-bottom: 0;
}
.yellow {
  background: #faf3d4;
  color: #a6a377;
}
.blue {
  background: #d0e6f0;
  color: #7190a2;
}
.green {
  border: 1px solid #def1bf;
  background: #d8ebce;
  color: #748f5d;
}
.red {
  border: 1px solid #ffdbdb;
  background: #fde2e2;
  color: #ac888a;
}

/* 工具栏 */
.ori-tools > * {
  visibility: hidden;
}

.ori-tools .toast {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 10000;
  max-width: 30%;
  opacity: 0;
  transition: opacity 0.5s;
}

.tools-item {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 45px;
  height: 45px;
  border: 2px solid #b6dfe9;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}

.tools-item > i {
  display: inline;
  line-height: 45px;
}

#qrcode {
  visibility: visible;
  z-index: 1001;
}

#qrcode-img {
  position: fixed;
  bottom: 70px;
  left: 20px;
  box-shadow: 0 0 20px #b6dfe9;
  padding: 25px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

@media (max-width: 991px) {
  .tools-item {
    display: none;
  }

  #toc-button {
    display: block;
    bottom: 0px !important;
    left: 0px;
    background: #b6dfe9;
    width: 22px;
    height: 60px;
    border-radius: 0px 5px 5px 0px;
  }
  #toc-button > i:before {
    line-height: 60px;
    font-size: 18px;
  }
  .toc {
    bottom: 62px !important;
    left: 0px !important;
    max-width: 50vw !important;
  }
}

#if-to-start {
  opacity: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: 100%;
  max-width: 500px;
  height: 50px;
  background: #fff;
  border: 1.5px solid #b6dfe9;
  border-bottom: 0px;
  padding: 0px 10px;
  transition: opacity 0.5s;
}

#if-to-start > span {
  line-height: 50px;
  font-size: 15px;
}

#if-to-start > a {
  display: block;
  float: right;
  transform: translateY(-50%);
  margin-top: 25px;
  margin-left: 5px;
  padding: 5px 20px;
  border: 1.5px solid #b6dfe9;
}

#toc-button {
  bottom: 75px;
  visibility: visible;
  z-index: 1001;
}

#toc-button:hover .toc {
  display: block;
}

.toc {
  position: fixed;
  bottom: 120px;
  left: 20px;
  font-size: 15px;
  max-width: 10vw;
  padding: 20px;
  padding-bottom: 15px;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  box-shadow: 0 0 20px #b6dfe9;
}

.toc:hover {
  display: block;
}

.toc-show {
  display: block !important;
}

.home .tools-item {
  display: none;
}

@media (max-width: 991px) {
  #ori-h-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: -30%;
    width: 30%;
    background: #fff;
    color: #5755d9;
    margin: 0;
    height: 100%;
    border-left: 1px solid #dfdfdf;
  }

  #ori-h-menu.active {
    right: 0;
  }

  #ori-h-menu > .menu-item > a {
    color: #5755d9 !important;
  }

  #ori-h-menu li {
    width: 100%;
  }

  #ori-h-menu li a {
    text-align: left;
    position: relative;
    width: 100%;
  }

  #ori-h-menu .sub-menu {
    opacity: 1;
    visibility: visible;
    position: unset;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: none;
    display: none;
  }

  #ori-h-menu .sub-menu li {
    border: none;
  }

  #ori-h-menu .sub-menu li:hover {
    background: none;
  }

  #ori-h-menu .sub-menu li a {
    font-size: unset;
  }

  #ori-h-menu .menu-item-has-children.active > .sub-menu {
    display: block;
  }

  #ori-h-menu .menu-item-has-children a:before {
    color: #5755d9;
    transform: translate(-50%, -50%) rotate(225deg);
    border: 0.1rem solid currentColor;
    border-bottom: 0;
    border-right: 0;
    height: 0.65em;
    width: 0.65em;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
  }

  #ori-h-menu .menu-item-has-children.active a:before {
    border: 0.1rem solid currentColor;
    border-top: 0;
    border-left: 0;
  }

  #ori-h-m-btn {
    display: block;
  }

  .ori-copyright {
    width: 100%;
  }

  #scroll-top {
    position: relative;
    bottom: unset;
    right: unset;
  }

  .comment-children {
    margin-left: 2rem;
  }

  .comment-children .comment-children {
    margin-left: 0;
  }
}

.my-face {
  animation: my-face 5s infinite ease-in-out;
  display: inline-block;
  margin: 0 5px;
}

@keyframes my-face {
  2%,
  24%,
  80% {
    transform: translate(0, 1.5px) rotate(1.5deg);
  }

  4%,
  68%,
  98% {
    transform: translate(0, -1.5px) rotate(-0.5deg);
  }

  38%,
  6% {
    transform: translate(0, 1.5px) rotate(-1.5deg);
  }

  8%,
  86% {
    transform: translate(0, -1.5px) rotate(-1.5deg);
  }

  10%,
  72% {
    transform: translate(0, 2.5px) rotate(1.5deg);
  }

  12%,
  64%,
  78%,
  96% {
    transform: translate(0, -0.5px) rotate(1.5deg);
  }

  14%,
  54% {
    transform: translate(0, -1.5px) rotate(1.5deg);
  }

  16% {
    transform: translate(0, -0.5px) rotate(-1.5deg);
  }

  18%,
  22% {
    transform: translate(0, 0.5px) rotate(-1.5deg);
  }

  20%,
  36%,
  46% {
    transform: translate(0, -1.5px) rotate(2.5deg);
  }

  26%,
  50% {
    transform: translate(0, 0.5px) rotate(0.5deg);
  }

  28% {
    transform: translate(0, 0.5px) rotate(1.5deg);
  }

  30%,
  40%,
  62%,
  76%,
  88% {
    transform: translate(0, -0.5px) rotate(2.5deg);
  }

  32%,
  34%,
  66% {
    transform: translate(0, 1.5px) rotate(-0.5deg);
  }

  42% {
    transform: translate(0, 2.5px) rotate(-1.5deg);
  }

  44%,
  70% {
    transform: translate(0, 1.5px) rotate(0.5deg);
  }

  48%,
  74%,
  82% {
    transform: translate(0, -0.5px) rotate(0.5deg);
  }

  52%,
  56%,
  60% {
    transform: translate(0, 2.5px) rotate(2.5deg);
  }

  58% {
    transform: translate(0, 0.5px) rotate(2.5deg);
  }

  84% {
    transform: translate(0, 1.5px) rotate(2.5deg);
  }

  90% {
    transform: translate(0, 2.5px) rotate(-0.5deg);
  }

  92% {
    transform: translate(0, 0.5px) rotate(-0.5deg);
  }

  94% {
    transform: translate(0, 2.5px) rotate(0.5deg);
  }

  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
