.butterBar{
	position: fixed;
	text-align: center;
	top: 0;
	z-index: 800;
	background: #282828;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
	font-size: 14px;
	width: 200px;
	color: #fff;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	height: 38px;
	line-height: 38px;
}