.ori-container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 992px) {
  .ori-container {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .ori-container {
    width: 970px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ori-container {
    width: 750px;
  }
}

.ori-header {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  display: flex;
}

#ori-logo,
#ori-title {
    position: absolute;
}

#ori-logo {
    display: flex;
}

#ori-title {
    font-size: 1.1rem;
}

body.home #ori-logo {
    display: none;
}

body:not(.home) #ori-title {
    display: none;
}

#ori-h-header {
    display: flex;
list-style: none;
align-items: center;
}